/* This is a single-line comment 
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Martian+Mono:wght@600&family=Neuton:wght@200&family=Sono&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");


@import "./hide_scrollbar.css";
@import "../styles/navigation.css";
@import "../styles/footer.css";

body {
    font-family: "PT Sans", sans-serif;
    background-color: #fdfdfd;
    height: 100%;
    overflow: auto;
    margin: 1;
    padding: 1;
    font-weight: 400;
  font-style: normal;
}


html {
    overflow: hidden;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    animation: fadeInTop 1s;
    -webkit-animation: fadeInTop 1s;
    -moz-animation: fadeInTop 1s;
    -o-animation: fadeInTop 1s;
    -ms-animation: fadeInTop 1s;
    animation-duration: 10s;
    animation-fill-mode: both
}

section {
    padding: 4em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 1150px;
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;
}

/* Heading and the Image at the start of the Main Page*/
header {
    background-image: url(../media/backgrounds/header_picture.jpeg);
    background-size: cover;
    background-position: center 70%;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    color: #fdfdfd;
}

footer {
    padding: 1em;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heading p {
  font-size: 1.1em;
  text-transform:lowercase;
  margin-left: 27%;
  margin:2em auto 2.8em auto;
  animation: fadeInTop 3s;
  -webkit-animation: fadeInTop 3s;
  -moz-animation: fadeInTop 3s;
  -o-animation: fadeInTop 3s;
  -ms-animation: fadeInTop 3s;
  animation-duration: 10s;
  animation-fill-mode: both;
}

/* FadeInTop animation from Top */
@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Slow and Centered Bouncing Play Button  */
.heading .play_button a {
    position: relative;
    display: inline-block;
}

/* Apply animations to the play button */
.heading .play_button a::before {
    content: '\25B6'; /* Unicode character for play symbol */
    font-size: 20px; /* Adjust the size of the triangle */
    color: #fdfdfd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInTop 5s, bounceAnimation 10s infinite ease-in-out; /* Adjust the duration for slower movement */
    -webkit-animation: fadeInTop 5s, bounceAnimation 10s infinite ease-in-out;
    -moz-animation: fadeInTop 5s, bounceAnimation 10s infinite ease-in-out;
    -o-animation: fadeInTop 5s, bounceAnimation 10s infinite ease-in-out;
    -ms-animation: fadeInTop 5s, bounceAnimation 10s infinite ease-in-out;
    animation-duration: 20s;
    animation-fill-mode: both;
}

@keyframes bounceAnimation {
    0%, 100% {
        transform: translate(-50%, -50%) scaleY(0.8); /* Start and end position (center) */
    }
    25%, 75% {
        transform: translate(-50%, -50%) scaleY(1.2); /* Midway position (scaled up) */
    }
    50% {
        transform: translate(-50%, -50%) scaleY(0.8); /* Peak of the bounce (scaled down) */
    }
}



#about_project p {
    margin: 1em 0;
    line-height: 25px;
    max-width: 25em;
    font-size: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about_project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background-color: #010440;
    color: #FFFFFF;
    font-size: 90%;
}

#about_project h2 {
    width: 50%; 
    font-size: 2em;
}

#about_project iframe {
    width: 90%; 
    max-width: 800px; 
    aspect-ratio: 16 / 9;
}

@media (max-width: 768px) {
    #about_project iframe {
        width: 60%; 
    }

    #about_project p {
        max-width: 50%;
    }
}

#about_project .media-container {
    display: flex;
    justify-content: center; /* Horizontally center the media and text */
    flex-direction: column; /* Ensure both media and text are in a column layout */
    align-items: center; /* Center-align the items horizontally */
}


/* The media queries for a phone starts here  */

@media only screen and (max-width: 768px) {

    .heading {
        margin-right: 20%;
    }
    h1 {
        font-size: 1.4em;
        word-spacing: 1.5px;
    }
    .heading p {
        font-size: 0.8em;
        text-transform: uppercase;
    }

    #ContactUs_form .contactUs_info {
        width: 100%;
        margin-left: 10%;
        color: white;
        font-size: 0.9em;
        font-weight: bold;
    }
    .contact_column {
        width: 100%;
        margin-top: 20px;
        padding: 25px;
    }
}


/* Adjust other styles for mobile */
@media (max-width: 768px) {
    .heading .play_button a::before {
        font-size: 16px; /* Adjusted font size for smaller screens */
    }
}









