/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Import External CSS Files */
@import "./hide_scrollbar.css";
@import "../styles/navigation.css";
@import "../styles/footer.css";

/* Global Styles */
body {
    font-family: "PT Sans", sans-serif;
    background-color: #fdfdfd;
    height: 100%;
    overflow: auto;
    margin: 1;
    padding: 1;
    font-weight: 400;
    font-style: normal;
}

html {
    overflow: hidden;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Heading Styles */
h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    position: absolute;
    top: 50%; /* Position at 50% from the top */
    transform: translateY(-50%); /* Translate up by 50% of its own height */
    animation: fadeInTop 3s;
    animation-duration: 10s;
    animation-fill-mode: both;
}

/* Section Styles */
section {
    padding: 4em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 1150px;
    margin: 0 auto; /* Center the container horizontally */
}

/* Header Styles */
header {
    background-image: url(../media/backgrounds/header_picture.jpeg);
    background-size: cover;
    background-position: center 70%;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    color: #fdfdfd;
    justify-content: center; /* Horizontally center the content */
}

/* Footer Styles */
footer {
    padding: 1em;
}

/* Heading Container Styles */
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Heading Paragraph Styles */
.heading p {
    font-size: 1.1em;
    text-transform: lowercase;
    margin-top: 5.5em; 
    margin-left: 27%;
    margin:12em auto 2.8em auto;
    animation: fadeInTop 3s;
    animation-duration: 10s;
    animation-fill-mode: both;
}

/* FadeInTop Animation */
@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Play Button Styles */
.heading .play_button a {
    position: relative;
    display: inline-block;
}

/* Play Button Animation */
.heading .play_button a::before {
    content: '\25B6'; /* Unicode character for play symbol */
    font-size: 20px; /* Adjust the size of the triangle */
    color: #fdfdfd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInTop 5s, bounceAnimation 10s infinite ease-in-out;
    animation-duration: 20s;
    animation-fill-mode: both;
}

/* Bounce Animation */
@keyframes bounceAnimation {
    0%, 100% {
        transform: translate(-50%, -50%) scaleY(0.8); /* Start and end position (center) */
    }
    25%, 75% {
        transform: translate(-50%, -50%) scaleY(1.2); /* Midway position (scaled up) */
    }
    50% {
        transform: translate(-50%, -50%) scaleY(0.8); /* Peak of the bounce (scaled down) */
    }
}

/* About Project Paragraph Styles */
#about_project p {
    max-width: 50%; /* Limit width of text */
    text-align: left; /* Align text to the left */
    margin: 0 auto 1em auto; /* Center the text and add spacing below */
    color: #FFFFFF; /* Adjusted for better readability */

}

/* About Project Container Styles */
#about_project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background-color: #010440;
    color: #FFFFFF;
    font-size: 90%;
    padding: 4em 2em; /* Adjust padding */
    min-height: 100vh; /* Ensure the container takes up at least the full viewport height */

}

/* About Project Heading Styles */
#about_project h2 {
    font-size: 2em;
    text-align: center; 
    margin-bottom: 1em; /* Add spacing below the heading */

}

#about_project p {
  color: #fdfdfd;
    max-width: 100%;
    text-align: left;
    padding-left: 1.5em;

}


iframe {
    width: 50%;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
}

.video-container iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

/* Media Container Styles */
#about_project .media-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1em;
    max-width: 95%;
    margin: 0 auto;
}

.profile-container > iframe {
    grid-column: 1 / -1;
    width: 50%;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    display: block;
    margin: 20px auto;
}


@media (max-width: 768px) {
    /* Adjusted Play Button Font Size for Smaller Screens */
    .heading .play_button a::before {
        font-size: 16px;
    }

    h1 {
        font-size: 1.4em;
        width: 90%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .video-container {
        width: 100%;
    }

    /* Adjust the width of the playlist iframe */
    .iframe {
        width: 100%;
    }

    .heading p {
        font-size: 0.8em;
    }

    .media-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center horizontally */
        text-align: center; /* Center text */
        max-width: 90%; /* Adjust max-width as needed */
        margin: 0 auto; /* Center horizontally */
    }

    .media-container > p {
        width: 100%;
        margin-bottom: 1em; /* Add spacing below paragraph */
    }

    .media-container > .video-container {
        width: 100%;
    }

    .media-container > iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 12px;
        display: block;
        margin: 20px auto;
    }
}
